<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./logs"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%p]%C.%M \(%F:%L\):%msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="STANDARD"  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <Encoding>UTF-8</Encoding>
            <file>server.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_HOME}/server.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>30</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C{50} :%L- %msg%n
                </pattern>
           </layout>
        </appender>

    <!-- 按照每天生成日志文件 -->
    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
    <logger name="ch.qos.logback" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
    <!-- 日志输出级别 -->
    <root level="debug">
        <appender-ref ref="STANDARD"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>